@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Generel styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body { 
  font-family: Arial, sans-serif; 
  margin: 0;
  background-color: #C2C2C2;
  overflow-x: hidden;
} 

/* Header */
  
header { 
  padding: 10px 20px; 
  background-color: #D9D9D9;
} 

.navbar { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: relative;
} 

.logo {
  height: 60px;
  margin: 0 auto;
}

.hamburger { 
  display: block; 
  font-size: 30px; 
  color: white; 
  cursor: pointer; 
}

.filter-container select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  top: 70px;
  right: -20px;
  background-color: #333;
  color: #fff;
  width: 25%;
  height: 100vh;
  z-index: 1000;
}

#hobby {
  overflow-y: auto;
}

#hobby option {
  text-align: center;
  padding: 10px;
}


option:hover {
  color: #80ed99;
}

.navbar .logo a { 
  color: white; 
  text-decoration: none; 
  font-size: 24px; 
} 
  
.navbar .logo img { 
  display: block;
  max-height: 70px; 
  width: auto; 
} 
  
.nav-links { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: none; 
} 

.nav-links.active { 
  display: flex; 
} 


/* Index styling */
.profile {
  display: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile.active {
  display: flex;
}

.profile-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay-for-name {
  position: absolute;
  top: 40%;
  background-color: #D9D9D9;
  opacity: 70%;
  width: 100%;
  padding: 20px;
}

.name {
  text-align: center;
  color: #C84E4E;
  font-family: 'inter';
  font-weight: 900;
}

.buttons {
  position: absolute;
  top: 65%;
  right: 40%;
  display: flex;
  gap: 50px;
}

.likeBtn {
  background-color: transparent;
  border: none;
  color: #80ed99;
  font-size: 75px;
  transition: all .5s ease-in-out;
}

.likeBtn:hover {
  transform: scale(1.5);
}

.btn-quickview {
  background-color: transparent;
  border: none;
  margin-top: 25px;
  color: #ffd670;
  font-size: 75px;
  transition: all .5s ease-in-out;
}

.btn-quickview:hover {
  transform: scale(1.5);
}

.dislikeBtn {
  background-color: transparent;
  border: none;
  color: #ef476f;
  font-size: 75px;
  transition: all .5s ease-in-out;
}

.dislikeBtn:hover {
  transform: scale(1.5);
}

.text {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

.quote {
  text-align: center;
  margin-top: 20px;
}

.see-profile {
  width: 100px;
  display: block; 
  margin: 0 auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.see-profile:hover {
  background-color:  #80ed99;
}

a {
  text-decoration: none;
  color: black;
}

/* Single styling */
.single-profile-card {
  display: flex;
  flex-direction: column;  
  margin: auto;
}

.single-profile-top {
  display: flex; 
  align-items: flex-start; 
}

.single-profile-img {
  width: 40vw;
  height: auto;
  object-fit: cover;
}

.single-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.single-profile-bottom {
  margin-top: 20px;
  margin-left: 10px; 
}

.return {
  width: 100px;
  display: block; 
  margin: 20px auto; 
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: white;
  text-align: center;
}

.return a {
  text-decoration: none;
  color: black;
}

.return:hover {
  background-color: #80ed99;
}


/* Likes styling */

.likes-container {
  flex-grow: 2; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}


.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.likes-profile-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  
}

.overlay-liked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #80808070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 10px;
}


/* Popover styling */
.quickview-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1101;
}

.video {
  width: 600px;
  height: 400px;
}

.messageBtn {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 100%; 
  margin: 0 auto; 
  padding: 10px;
  border: none;
}

.messageBtn:hover {
  background-color:  #80ed99;
}

/* Footer */

footer {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  color: #5fb874;
  width: 100%;
  bottom: 0;
}

.fa-heart-circle-plus {
  color: #5fb874;
}

.fa-house {
  color: #5fb874;
}
  
@media screen and (max-width: 700px) { 
.navbar {
  width: 90%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  box-sizing: border-box;
  }

.nav-links { 
  display: none; 
  width: 100%; 
  flex-direction: column; 
  text-align: center; 
} 

.nav-links.active { 
  display: flex; 
} 
  
.nav-links li { 
  margin: 10px 0; 
} 
  
.hamburger { 
  display: block; 
} 

.logo {
  height: 50px;
  margin: 0 auto;
}

/* Index styling */
.buttons {
  position: absolute;
  top: 57%;
  right: 5%;
  display: flex;
  gap: 30px;
}

.likeBtn:hover {
  transform: none;
}

.btn-quickview:hover {
  transform: none;
}

.dislikeBtn:hover {
  transform: none;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Likes styling */

.likes-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 50px; 
  padding: 50px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.likes-profile-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.overlay-liked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d9d9d977;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 10px;
}

.overlay-liked h2, .overlay-liked p {
  margin: 5px 0; 
}

.quickview-content {
  display: flex;
  flex-direction: column;
}

.video {
  width: 320px;
  height: 200px;
}

/* Single styling */

.single-profile {
  width: 90%;
}

.single-profile-card {
  width: 90%;
  margin-left: -10px;
}

.single-profile-img {
  height: 50vh;
  width: 50vw;
}

.single-profile-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

footer {
  width: 90%;
}

} 
  
   