@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Generel styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body { 
  font-family: Arial, sans-serif; 
  margin: 0;
  background-color: #C2C2C2;
  overflow-x: hidden; /* Sørger for den ikke kan scrolle vandret */
} 

/* Header */
header { 
  padding: 10px 20px; 
  background-color: #D9D9D9;
} 

/* Positionere elementerne i navbaren */
.navbar { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: relative;
} 

/* Stiller logoet i midten */
.logo {
  height: 60px;
  margin: 0 auto;
}

/* Sørger for menuen ikke vises før man trykker på burgermenuen */
.hamburger { 
  display: block; 
  font-size: 30px; 
  color: white; 
  cursor: pointer; 
}

/* Styler vores dropdown menu */
.filter-container select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  top: 70px;
  right: -20px;
  background-color: #333;
  color: #fff;
  width: 25%;
  height: 100vh;
  z-index: 1000;
}

/* Sørger for der ikke er en scrollbar i dropdown */
#hobby {
  overflow-y: auto;
}

/* Placerer hobbyerne centreret */
#hobby option {
  text-align: center;
  padding: 10px;
}

/* Hover når man fører musen over en option */
option:hover {
  color: #80ed99;
}

.navbar .logo a { 
  color: white; 
  text-decoration: none; 
  font-size: 24px; 
} 
  
.navbar .logo img { 
  display: block;
  max-height: 70px; 
  width: auto; 
} 
  
.nav-links { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: none; 
} 

.nav-links.active { 
  display: flex; 
} 


/* Index styling */

/* Placerer profile i flexbox */
.profile {
  display: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile.active {
  display: flex;
}

/* Styling af billedet */
.profile-img {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Sørger for det ikke strækkes */
}

/* Gennemsigtig baggrund for at gøre navn letlæslig */
.overlay-for-name {
  position: absolute;
  top: 40%;
  background-color: #D9D9D9;
  opacity: 70%;
  width: 100%;
  padding: 20px;
}

/* Styling af navn */
.name {
  text-align: center;
  color: #C84E4E;
  font-family: 'inter';
  font-weight: 900;
}

/* Placering af likes, dislike og superlike knapper */
.buttons {
  position: absolute;
  top: 65%;
  right: 40%;
  display: flex;
  gap: 50px;
}

.likeBtn {
  background-color: transparent;
  border: none;
  color: #80ed99;
  font-size: 75px;
  transition: all .5s ease-in-out; /* Sørger for en smooth transition */
}

.likeBtn:hover {
  transform: scale(1.5); /* Gør den en anelse større ved hover */
}

.btn-quickview {
  background-color: transparent;
  border: none;
  margin-top: 25px; /* Sørger for den er lidt længere nede en de andre */
  color: #ffd670;
  font-size: 75px;
  transition: all .5s ease-in-out;
}

.btn-quickview:hover {
  transform: scale(1.5);
}

.dislikeBtn {
  background-color: transparent;
  border: none;
  color: #ef476f;
  font-size: 75px;
  transition: all .5s ease-in-out;
}

.dislikeBtn:hover {
  transform: scale(1.5);
}

.text {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

.quote {
  text-align: center;
  margin-top: 20px;
}

.see-profile {
  width: 100px;
  display: block; 
  margin: 0 auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.see-profile:hover {
  background-color:  #80ed99;
}

a {
  text-decoration: none;
  color: black;
}

/* Single styling */

/* Sørger for flexbox */
.single-profile-card {
  display: flex;
  flex-direction: column;  
  margin: auto;
}

/* Det øverste tekst */
.single-profile-top {
  display: flex; 
  align-items: flex-start; 
}

/* Billedestyling */
.single-profile-img {
  width: 40vw;
  height: auto;
  object-fit: cover; /* Sørger for det ikke strækkes */
}

.single-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

/* Det nederste tekst */
.single-profile-bottom {
  margin-top: 20px;
  margin-left: 10px; 
}

/* Sørger for at komme tilbage til index.html */
.return {
  width: 100px;
  display: block; 
  margin: 20px auto; 
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: white;
  text-align: center;
}

.return a {
  text-decoration: none;
  color: black;
}

.return:hover {
  background-color: #80ed99;
}


/* Likes styling */

/* Sørger for flexbox til alle likes*/
.likes-container {
  flex-grow: 1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

/* En svag baggrund bagved tekst */
.overlay-liked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #80808070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 10px;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.overlay-liked h2,
.overlay-liked p {
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

/* Sørger for tekst og overlay kun vises ved hover */
.likes-profile-container:hover .overlay-liked {
  opacity: 1; 
}

/* Sørger for tekst og overlay kun vises ved hover */
.likes-profile-container:hover .overlay-liked h2,
.likes-profile-container:hover .overlay-liked p {
  opacity: 1; 
}


.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Laver flexbox */
.likes-profile-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling af likes profile billede */
.likes-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  
}

/* Popover styling */

/* Sørger for det placeres centreret */
.quickview-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1101;
}

/* Styling til video container */
.video {
  width: 600px;
  height: 400px;
}

/* Styling til besked knappen */
.messageBtn {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 100%; 
  margin: 0 auto; 
  padding: 10px;
  border: none;
}

.messageBtn:hover {
  background-color:  #80ed99;
}

/* Footer */

/* Footer styling */
footer {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  color: #5fb874;
  width: 100%;
  bottom: 0;
}

.fa-heart-circle-plus {
  color: #5fb874;
}


/* Mobil styling */
@media screen and (max-width: 700px) { 

/* Navbaren der sørger for alt sidder som det skal */
.navbar {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  box-sizing: border-box;
}
 
/* Styling til dropdown */
.filter-container select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  top: 90px;
  right: -50px;
  background-color: #333;
  color: #fff;
  width: 75%;
  height: 100vh;
  z-index: 1000;
}


/* Index styling */

/* Knappernes placering på index */
.buttons {
  position: absolute;
  top: 57%;
  right: 5%;
  display: flex;
  gap: 30px;
}

.likeBtn:hover {
  transform: none;
}

.btn-quickview:hover {
  transform: none;
}

.dislikeBtn:hover {
  transform: none;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Likes styling */

/* Flex-box */
.likes-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 50px; 
  padding: 50px;
}

/* Flex-box */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.likes-profile-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.overlay-liked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #80808070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 10px;
  opacity: 1;
}

.overlay-liked h2, .overlay-liked p {
  margin: 5px 0; 
  opacity: 1;
}

.quickview-content {
  display: flex;
  flex-direction: column;
}

.video {
  width: 320px;
  height: 200px;
}

.return:hover, .see-profile:hover {
  background-color: #fff;
}
/* Single styling */

.single-profile {
  width: 90%;
}

.single-profile-card {
  width: 90%;
  margin-left: -10px;
}

.single-profile-img {
  height: 50vh;
  width: 50vw;
}

.single-profile-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

footer {
  width: 100%;
}

} 
  
   